@model WebProgramlama.Models.Doktor

<h2>Details</h2>

<div>
    <h4>Doktor: @Model.Adi</h4>
    <!-- Diğer detaylar -->
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
