<!-- Views/Admin/Delete.cshtml -->
@model Proje.Models.Randevu

<h2>Randevu Silme</h2>

<form asp-action="Delete">
    <div>
        <label asp-for="Kullanici.Adi"></label>
        <input asp-for="Kullanici.Adi" class="form-control" disabled />
    </div>
    <div>
        <label asp-for="Doktor.Adi"></label>
        <input asp-for="Doktor.Adi" class="form-control" disabled />
    </div>
    <div>
        <label asp-for="Poliklinik.Adi"></label>
        <input asp-for="Poliklinik.Adi" class="form-control" disabled />
    </div>
    <div>
        <label asp-for="Tarih"></label>
        <input asp-for="Tarih" class="form-control" disabled />
    </div>
    <div>
        <label asp-for="Durum"></label>
        <input asp-for="Durum" class="form-control" disabled />
    </div>
    <input type="hidden" asp-for="RandevuId" />
    <input type="submit" value="Sil" class="btn btn-danger" />
</form>
