@model Proje.Models.Randevu

<form asp-action="RandevuOlustur">
    <div class="form-group">
        <label for="PoliklinikId">Klinik Seçin:</label>
        <select asp-for="PoliklinikId" class="form-control" asp-items="@(new SelectList(ViewBag.Klinikler, "KlinikId", "Adi"))">
            <option value="">-- Klinik Seçin --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="DoktorId">Doktor Seçin:</label>
        <select asp-for="DoktorId" class="form-control" asp-items="@(new SelectList(ViewBag.Doktorlar, "DoktorId", "Adi"))">
            <option value="">-- Doktor Seçin --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Tarih">Tarih Seçin:</label>
        <input asp-for="Tarih" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Saat">Saat Seçin:</label>
        <input asp-for="Tarih" type="time" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Randevu Al" class="btn btn-primary" />
    </div>
</form>
